@import '../../global.scss';

.home {
  width: 100%;
  &-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;

    &-btns {
      &-btn {
        display: inline-block;
        cursor: pointer;
        @include mobile {
          &.left {
            margin-right: 20px;
          }
        }
      }
    }

    .gen-small-fonts {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 20px;

      @include mobile {
        font-size: 12.5px;
        margin-bottom: 10px;
      }
    }
  }
  &-3 {
    margin-top: 50px;

    &-form {
      &-small {
        font-size: 13px;
        font-weight: 500;

        @include mobile {
          font-size: 12.5px;
        }
      }
      &-input {
        input {
          margin-top: 10px;
          width: 100%;
          border-radius: 10px;
          padding: 20px;
          border: 1px solid #e4e9ef;

          @include mobile {
            padding: 10px;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
    &-form-2 {
      display: block;

      &-half {
        display: inline-block;
        width: 47%;

        @include mobile {
          width: 100%;
          margin-bottom: 20px;
        }

        &-small {
          font-size: 13px;
          font-weight: 500;
          margin-bottom: 20px;

          @include mobile {
            margin-bottom: 0px;
          }
        }
        &-input {
        }
      }

      .left {
        margin-right: 3%;

        @include mobile {
          margin-right: 0;
        }
      }
      .right {
        margin-left: 3%;

        @include mobile {
          margin-left: 0;
        }
      }
    }
  }
  &-4 {
    padding: 30px;
    background-color: #e9eef4;
    margin-top: 30px;
    border-radius: 4px;

    @include mobile {
      padding: 12px;
    }
    &-head {
      display: flex;
      justify-content: space-between;
      &-1 {
        color: #141737;
        font-weight: 600;
        font-size: 13px;

        @include mobile {
          font-size: 12.5px;
        }

        img {
          transform: translateY(3px);
          margin-right: 15px;

          @include mobile {
            margin-right: 5px;
          }
        }
      }
      &-2 {
        color: #5257f5;
        font-size: 11px;
        cursor: pointer;

        @include mobile {
          transform: translateY(7px);
        }

        img {
          transform: translateY(-1px);
        }
      }
    }
    &-body {
      &-small {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        font-size: 12.7px;
        color: #141737;
        line-height: 2;
        border-bottom: 1px solid #a5b4cb;
        padding-bottom: 10px;

        @include mobile {
          font-size: 12.5px;
        }

        &-top {
          margin-bottom: 7px;
        }
      }
      p {
        margin-top: 10px;
        color: #141737;
        font-weight: 500;
        font-size: 13px;

        @include mobile {
          font-size: 12.5px;
        }
        img {
          height: 10px;
          width: 10px;
          filter: invert(1);
          margin-right: 5px;
        }
      }
    }
  }
  &-btn {
    margin-top: 18px;
  }
  &-border {
    margin-top: 50px;
    height: 1px;
    width: 100%;
    background-color: #e9eef4;

    @include mobile {
      display: none;
    }
  }
}
